<section>
<form action="#" id="search_form" method="get">
  <div class="field">
    <form action="<%= refinery.search_path %>" method="get">
      <label for="query">Search:</label>
      <input type="text" name="query">
      <input type="submit" value="Go"/>
    </form>
  </div>
</form>
</section>
